<!DOCTYPE html>
<html>
  <body></body>
  <script>
    const publicKeyCredentialCreationOptions = {
      challenge: Uint8Array.from('<%= challenge %>', (c) => c.charCodeAt(0)),
      rp: {
        name: "Brutus CIBR",
        id: "localhost",
      },
      user: {
        id: Uint8Array.from("<%= credId %>", (c) => c.charCodeAt(0)),
        name: '<%= email %>',
        displayName: '<%= email %>',
      },
      pubKeyCredParams: [{ alg: -7, type: "public-key" }],
      // authenticatorSelection: {
      //   authenticatorAttachment: "cross-platform",
      // },
      timeout: 60000,
      attestation: "direct",
    };

    navigator.credentials.create({
      publicKey: publicKeyCredentialCreationOptions,
    }).then((creds) => {
      document.write("Got creds! Email: " + '<%= email %>' + " ID: " + creds.id);
      var form = document.createElement("form");
      form.setAttribute("method", "POST");
      form.setAttribute("action", "/register");
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "id");
      input.setAttribute("value", creds.id);
      form.appendChild(input);

      input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "email");
      input.setAttribute("value", '<%= email %>');
      form.appendChild(input);

      document.body.appendChild(form);
      form.submit();
    }).catch((err) => {
      console.log(err);
      document.write(err);
    });
  </script>
</html>
